:root {
  --ion-color-primary: #3880ff;
  --ion-color-primary-contrast: #ffffff;

  --ion-color-danger: #f04141;
  --ion-color-danger-contrast: #ffffff;

  --ion-color-light: #f4f5f8;
  --ion-color-light-contrast: #000000;

  --ion-color-dark: #222428;
  --ion-color-dark-contrast: #ffffff;
}
